[Unit]
Description=Run Qujing PostgreSQL backup every six hours

[Timer]
OnCalendar=*-*-* 00/6:15:00 UTC
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
